<h1>
    User Sign in
</h1>

<form action="/users/createSession" method="post">
    <input type="email" name="email" placeholder="Write E-mail">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign In">
</form>

<p>
    <a href="/users/auth/google">Google Sign in/SignUp</a>
</p>